.listaAviones{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;

    img{
        object-fit: cover;
        @include sizes(20rem, 20rem);
    }

    .planeItem{
        margin: 0 1rem 2rem 1rem;
        @include sizes(20rem, auto);
        border: 1px solid gainsboro;
        border-radius: 4px;
        overflow: hidden;
        padding-bottom: 1rem;
        box-shadow: 0 0 8px -4px black;


        p{
            padding: 0 1rem 0rem 1rem;
            height: 5rem;
            width: auto;
            font-size: 18px;
            text-align: center;
            font-weight: 200;
        }
    

    
        h5{
            margin-top: 1rem;
            font-size: 25px;
            font-weight: 500;
        }

        h6{
            font-weight: 400;
        }
    
        .precio{
            height: 2rem;
            margin-bottom: 1rem;
            margin-top: 2rem;
            font-weight: 300;
            font-size: 20px;
        }
    }
}