.formularioContacto{
    label{
        display: block;
        margin: 1rem 0 1rem 0;
    }
    textarea{
        resize: none;
        width: 30rem;
        height: 10rem;
        font-size: 1.3rem;
    }

    input{
        width: 30rem;
        height: 2rem;
        font-size: 1.3rem;
    }
}