.formularioContacto{
    label{
        display: block;
        margin: 1rem 0 1rem 0;
    }
    textarea{
        resize: none;
        width: 75%;
        height: 10rem;
        font-size: 1.3rem;
    }

    input{
        width: 75%;
        height: 2rem;
        font-size: 1.3rem;
    }

    @media(min-width: 730px){
        input{
            width: 548px;
        }
        textarea{
            width: 548px;
        }
    }
}