.galeriaContainer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img{
        width: 30%;
        margin: 2rem;
    }
}

.h1Galeria{
    text-align: center;
    margin: 0 2rem 3rem 2rem;
}