.logoImg{
    width: 60px;
    height: auto;
    margin-right: 1.5rem;
    margin-left: 0.5rem;
}

.navbar{
    background-color: rgb(143, 186, 255);
}

.navbar-brand{
    font-size: 30px;
}

.nav-link{
    font-size: 22px;
    margin: 0 1rem 0 1rem;
}