@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
}

#contenedorPagina {
  position: relative;
  min-height: 100vh;
}

#contenidoPagina {
  padding-bottom: 8rem;
}

.content p {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 80px 5px 80px;
  text-align: justify;
}
.content h2 {
  text-align: center;
  font-size: 35px;
}

.contentPagina {
  text-align: center;
}
.contentPagina h1 {
  margin: 1rem 0 1rem 0;
}

.subrayado {
  border-bottom: 1px solid black;
  width: 80%;
}

.logoImg {
  width: 60px;
  height: auto;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
}

.navbar {
  background-color: rgb(143, 186, 255);
}

.navbar-brand {
  font-size: 30px;
  font-weight: 300;
}

.nav-link {
  font-size: 22px;
  margin: 0 1rem 0 1rem;
}

.bienvenida {
  margin: 2rem 0rem 4rem 0rem;
}
.bienvenida h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
}

.pasosRenta {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.pasosRenta h3 {
  font-size: 28px;
  text-align: center;
  font-weight: 400;
}
.pasosRenta p {
  font-weight: 300;
  color: rgb(65, 65, 65);
  text-align: justify;
  padding: 2rem;
}

@media (min-width: 800px) {
  .bienvenida {
    margin: 3rem 2rem 5rem 2rem;
  }
  .pasosRenta {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .pasosRenta div {
    width: 33.3%;
  }
  .pasosRenta p {
    width: auto;
  }
}
.portadaPrincipal {
  overflow: hidden;
}
.portadaPrincipal h1 {
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  margin-top: 2rem;
  transform: translate(-50%, 0%);
  color: white;
  font-size: 1.4rem;
  text-shadow: 2px 2px 8px black;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  font-weight: 400;
}

@media (min-width: 400px) {
  .portadaPrincipal h1 {
    font-size: 1.6rem;
  }
}
@media (min-width: 730px) {
  .portadaPrincipal h1 {
    font-size: 2rem;
  }
}
@media (min-width: 990px) {
  .portadaPrincipal h1 {
    font-size: 2.5rem;
  }
}
.imgPortada {
  width: 200%;
  z-index: 1;
  margin-left: -60%;
}

@media (min-width: 800px) {
  .imgPortada {
    width: 100%;
    height: auto;
    z-index: 1;
    margin: 0;
  }
}
.presentacion {
  background-color: rgb(224, 236, 255);
  padding-top: 3rem;
}
.presentacion h2 {
  border-bottom: 1px solid rgb(181, 188, 197);
  margin: 0 3rem 0 3rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

.whoAreWe {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "imagen" "texto";
  height: 100%;
}
.whoAreWe div {
  margin-left: 2rem;
  grid-area: imagen;
  display: flex;
  align-items: center;
  justify-content: center;
}
.whoAreWe img {
  margin-left: -1rem;
  margin-top: 2rem;
  height: 40vw;
  width: auto;
}

@media (min-width: 800px) {
  .whoAreWe {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas: "imagen texto";
    height: 100%;
  }
  .whoAreWe img {
    height: 16vw;
    width: auto;
  }
}
.historia {
  margin: 3rem 1rem 2rem 1rem;
  grid-area: texto;
}
.historia p {
  color: rgb(65, 65, 65);
  font-weight: 300;
  text-align: justify;
  width: 100%;
  padding: 0;
  padding-top: 1.5rem;
  margin: 0 2rem 0 0;
}
.historia h3 {
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}
.historia a {
  text-decoration: none;
  font-size: 1em;
}

@media (min-width: 800px) {
  .historia {
    margin: 3rem 3rem 2rem 3rem;
    grid-area: texto;
    width: auto;
  }
  .historia p {
    text-align: justify;
  }
}
footer {
  background-color: rgb(90, 93, 111);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  text-align: center;
}
footer p {
  margin-top: 1.5rem;
  color: white;
  font-size: 18px;
}

.listaAviones {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
}
.listaAviones img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 20rem;
  height: 20rem;
}
.listaAviones .planeItem {
  margin: 0 1rem 2rem 1rem;
  width: 20rem;
  height: auto;
  border: 1px solid gainsboro;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 1rem;
  box-shadow: 0 0 8px -4px black;
}
.listaAviones .planeItem p {
  padding: 0 1rem 0rem 1rem;
  height: 5rem;
  width: auto;
  font-size: 18px;
  text-align: center;
  font-weight: 200;
}
.listaAviones .planeItem h5 {
  margin-top: 1rem;
  font-size: 25px;
  font-weight: 500;
}
.listaAviones .planeItem h6 {
  font-weight: 400;
}
.listaAviones .planeItem .precio {
  height: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-weight: 300;
  font-size: 20px;
}

.galeriaContainer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.galeriaContainer img {
  width: 30%;
  margin: 2rem;
}

.planes {
  padding: 2rem 4rem 1rem 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.planes .col-sm-auto {
  width: 100%;
  margin: 1rem 0 2rem 0;
}
.planes .col-sm-auto .card {
  height: 100%;
}
.planes .col-sm-auto .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.planes .col-sm-auto .card .card-body img {
  width: 100%;
  height: auto;
}
@media (min-width: 550px) {
  .planes .col-sm-auto .card .card-body img {
    width: 400px;
  }
}
.planes .col-sm-auto .card .card-body .card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.planes .col-sm-auto .card .card-body .card-text h5 {
  font-weight: 500;
  font-size: 26px;
}
.planes .col-sm-auto .card .card-body .card-text p {
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 200;
  padding: 0;
  text-align: center;
}
.planes .col-sm-auto .card .card-body .card-text a {
  width: 80%;
}
@media (min-width: 800px) {
  .planes {
    flex-direction: row;
  }
  .planes .col-sm-auto {
    width: 28%;
    margin: 0 1rem 0 1rem;
  }
  .planes .col-sm-auto .card .card-body {
    justify-content: flex-start;
  }
  .planes .col-sm-auto .card .card-body img {
    width: 70%;
  }
  .planes .col-sm-auto .card .card-body .card-text a {
    margin-top: 1rem;
  }
}

.formularioContacto label {
  display: block;
  margin: 1rem 0 1rem 0;
}
.formularioContacto textarea {
  resize: none;
  width: 75%;
  height: 10rem;
  font-size: 1.3rem;
}
.formularioContacto input {
  width: 75%;
  height: 2rem;
  font-size: 1.3rem;
}
@media (min-width: 730px) {
  .formularioContacto input {
    width: 548px;
  }
  .formularioContacto textarea {
    width: 548px;
  }
}/*# sourceMappingURL=style.css.map */